body {
  background-color: #A09C9E;
}

.header {
  background-color: #f2f2f2;
}

.nav {
  background-color: #fb968b;
}

.column1 {
  background-color: #8bfb9f;
}

.column2 {
  background-color: #9f8bfb;
}
